@page "/"
@inject UserService UserService

<h3>Brugerliste</h3>

<table class="table">
    <thead>
        <tr>
            <th>UserId</th>
            <th>UserName</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in users)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<UserModel> users;

    protected override void OnInitialized()
    {
        users = UserService.GetUsers();
    }
}
